{% extends "base.html" %}

{% block content %}
<main class="container mx-auto pt-4 flow-4">
    <h1 class="text-4xl font-bold">Bienvenue sur mon exemple</h1>

    <p>Les articles disponibles:</p>
    {% for article in object_list %}
        {% if forloop.first %}<ul class="list-disc list-inside">{% endif %}
            <li><a class="text-sky-500 underline" href="{% url 'update' article.pk %}">{{ article.title }}</a></li>
        {% if forloop.last %}</ul>{% endif %}
    {% empty %}
        <p>Aucun article n'a encore été rédigé</p>
    {% endfor %}
</main>


{% endblock content %}